:root {
  /* Main */
  --main-bg-color: #dcdcdc; /* gris más oscuro que antes */
  --main-text-color: #222;

  /* Header */
  --header-bg-gradient: linear-gradient(to right, #d0f0ff, #a3c9f7, #d0f0ff);
  --header-text-color: #222;

  /* Footer */
  --footer-bg-gradient: linear-gradient(to right, #a3c9f7, #d0f0ff, #a3c9f7);
  --footer-text-color: #222;
}

[data-theme="dark"] {
  /* Main */
  --main-bg-color: #1f1f1f; /* gris oscuro más profundo */
  --main-text-color: #f5f5f5;

  /* Header */
  --header-bg-gradient: linear-gradient(to right, #1c3b5f, #0a1f40, #1c3b5f);
  --header-text-color: #f5f5f5;

  /* Footer */
  --footer-bg-gradient: linear-gradient(to right, #0a1f40, #1c3b5f, #0a1f40);
  --footer-text-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: auto;
  overflow-y: auto;

}

body {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--header-bg-gradient);
  padding: 1rem;
  color: var(--header-text-color);
}

main {
  flex: 1;
  padding: 2rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  overflow: auto;
}

footer {
  background: var(--footer-bg-gradient);
  padding: 1rem;
  text-align: center;
  color: var(--footer-text-color);
  position: sticky;
  bottom: 0;
}